@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b1326;
  --on-background: #dae2fd;
  --primary: #d2bbff;
  --primary-container: #7c3aed;
  --on-primary-container: #ede0ff;
  --secondary: #4cd7f6;
  --tertiary: #4edea3;
  --error: #ffb4ab;
  --surface-container: #171f33;
  --surface-container-high: #222a3d;
  --surface-container-highest: #2d3449;
  --surface-container-lowest: #060e20;
  --on-surface: #dae2fd;
  --on-surface-variant: #ccc3d8;
  --outline: #958da1;
  --outline-variant: #4a4455;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-family: Inter, sans-serif;
}